# /etc/systemd/system/suspend@.service
[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=$HOME/.i3/scripts/i3lock-fancy-multimonitor/lock

[Install]
WantedBy=sleep.target